# Sql to Tableau Lab

### Introduction

In this lesson, we'll work with our olist dataset to practice filtering our data, using calculated fields and even joining datasets.  

Let's get started.

### Filtering Data

Let's get started with filtering data.  Let's only display products whos revenue accounted for over 35,000.

We can do this by clicking on the arrow next to Sum(Price), and then click on `Show Filter`.

<img src="./show-filter.png" width="60%">

Then we can adjust the filter to the right to only show products that accounted for over `35,000` in revenue.

<img src="./filter-over.png">

### Calculated Fields

Now let's practice creating a calculated field.  

First let's create a field called `Price over Freight`.  We can do this by right clicking on the panel where the measures are, and then selecting create calculated field.

The calculation for the Price Over Freight field should simply be `price - freight`.  In other words the revenue - shipping costs.  Then display the monthly price (ie revenue) chart side by side the monthly price over freight chart.

<img src="./calculated-field-freight.png" width="60%">

Notice that if we hover over a bar, like Jan 2017, we see that `Price` is 80,125, while `Price over freight` is a little over `68,051`.

Next, let's add another filter, on year, and unselect 2020.

<img src="./unselect-2020.png" width="70%">

### Joining data

Ok, now let's try joining data.  To achieve this, we can first click on Data Source in the bottom right of Tableau.

<img src="./data-source.png" width="70%">

And then go to the data folder, and drag and drop the `olist_products.csv` file into the connections - or into the main panel.

<img src="./olist-conn.png" width="70%">

You can then click and drag `olist_products.csv` over to the main white panel.  We should see a line connect our two data csv files.

> <img src="./join-data.png">

Towards the bottom you can see the calculation being performed.  And this is that rows are joined where the Product Id from the `olist_order_items` dataset equals Product Id from the `olist_products` dataset.

* Using our joins

Now create another worksheet, and notice that we have a lot more fields.

<img src="./additional-field.png" width="70%">

And this time let's plot the total revenue by product category, and sort from most to least revenue.

<img src="./product-category.png" width="80%">

* Limiting

Ok, now let's try to limit to the top ten categories.  So to do this we'll first need to create a calculated field called `index` and use the `index()` method.

<img src="./index-create.png" width="60%">

Then create a filter from the index field, to limit by the index.

<img src="./top-ten.png">

### Summary

In this lesson, we moved through a lot of our SQL functions and saw how they translated in tableau.

This included sorting our data, creating calculated fields, joining our data, and then limiting our data.